@import '../../styles/style.scss';
.search {
    margin: 20px 20px;
    font-size: 0;
}
.repositories {
    display: grid;
    grid-template-columns: 357px;
    row-gap: 16px;
    margin: 0 0 0 20px;
}
.error {
    @include textStyle(normal, 16px);
    color: $red-color;
    margin: -20px 20px 0;
}
@media screen and (max-width: 400px) {
    .repositories {
        grid-template-columns: 100%;
        margin-right: 20px;
    }
}